[submodule "third-party/binstream"]
	path = third-party/binstream
	url = git@github.com:Tarik02/binstream
[submodule "third-party/fs"]
	path = third-party/fs
	url = git@github.com:Tarik02/fs
[submodule "third-party/machineid"]
	path = third-party/machineid
	url = git@github.com:Tarik02/machineid
