[submodule "src/regex/slre"]
	path = src/regex/slre
	url = git@github.com:cesanta/slre.git
[submodule "src/fs"]
	path = src/fs
	url = git@github.com:Tarik02/fs.git
[submodule "src/binstream"]
	path = src/binstream
	url = git@github.com:Tarik02/binstream.git
[submodule "src/machineid"]
	path = src/machineid
	url = https://github.com/Tarik02/machineid.git
